/* @title Dhenkanal plug-in clusters  */


/* @title KMK 0_10km */
[Distance_B ='KMK <=10km' ]{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #741b47;
  	fill-opacity: 0.8;
}

/* @title KMK 10_15km */
[Distance_B ='KMK 10-15km' ]{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #a64d79;
  	fill-opacity: 0.8;
}

/* @title KMK 15_20km */
[Distance_B ='KMK 15-20km' ]{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #c27ba0;
  	fill-opacity: 0.8;
}



/* @title HIN 0_10km */
[Distance_B ='Hindon 10 km' ]{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #351c75;
  	fill-opacity: 0.8;
}

/* @title HIN 10_15km */
[Distance_B ='Hindon 10-15km' ]{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #674ea7;
  	fill-opacity: 0.8;
}

/* @title HIN 15_20km */
[Distance_B ='Hindon 15-20 km' ]{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #8e7cc3;
  	fill-opacity: 0.8;
}


/* @title DKL 0_10km */
[Distance_B ='DKL <=10km' ]{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #134f5c;
  	fill-opacity: 0.8;
}

/* @title DKL 10_15km */
[Distance_B ='DKL 10-15km' ]{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #45818e;
  	fill-opacity: 0.8;
}

/* @title DKL 15_20km */
[Distance_B ='DKL 15-20km']{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #76a5af;
  	fill-opacity: 0.8;
}


/* @title BBN 0_10km */
[Distance_B ='BBN <=10km' ]{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #38761d;
  	fill-opacity: 0.8;
}

/* @title BBN 10_15km */
[Distance_B ='BBN 10-15km' ]{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #6aa84f;
  	fill-opacity: 0.8;
}

/* @title BBN 15_20km */
[Distance_B ='BBN 15-20km' ]{
    stroke: #000000;
    stroke-width: 0.3;
    fill: #93c47d;
  	fill-opacity: 0.8;
}